# rename this file to .env after updating user and password and make sure .env is in .gitignore
#
# remote access:
MONGODB_URI='mongodb+srv://user1:password1@cluster0.6f9re.mongodb.net/myDB?retryWrites=true&w=majority'
# local access:
# MONGODB_URI='mongodb://localhost:27017/?readPreference=primary&appname=MongoDB%20Compass&ssl=false'